@page
@using RMS_web_dev_poging3.Pages.Models
@model RMS_web_dev_poging3.Pages.Paginas.MyCollection

@{
    Layout = null;
}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Index</title>
<link rel="stylesheet" href="~/bootstrap-4.4.1-dist/css/bootstrap.css" />
<link href="~/css/style.css" rel="stylesheet" />
<script src="~/js/jquery-3.5.1.slim.js"></script>

<body style="overflow-x: hidden;">


      <header class="masthead">
        <img src="~/css/images/logo3.jpg" class="logoimg" style="background-color: transparent;">
        <button class="btn disabled accauntimg button" onclick="location.href='Winkelmandje'"><img src="~/css/images/shopping-cart.jpg"></button>
        <div class="accauntimg">
        <div class="dropdown open">
          <button class="btn dropdown-toggle button" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" 
              aria-expanded="false">
                <img src="~/css/images/accaunt.jpg" >
              </button>
          <div class="dropdown-menu" aria-labelledby="triggerId">
              <button class="dropdown-item" onclick="location.href='Verkopen'">Verkopen</button>
            <button class="dropdown-item" onclick="location.href='Kopen'">Kopen</button>
          </div>
        </div>
      </div>

      </header>


      <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" asp-page="/Paginas/MyCollection">Home</a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" asp-page="/Paginas/Kopen">Kopen</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" asp-page="/Paginas/Verkopen">Verkopen</a>          
            </li>
            <li class="nav-item active">
              <a class="nav-link" asp-page="/Paginas/Uitloggen">Uitloggen</a>          
            </li>
        </ul>
      </nav>

      <div class="container">
        <h3 class="h3 title">Uw Verzameling:</h3>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <form method="post">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="pic-1" src="~/css/images/blocked.jpg">
                            <img class="pic-2" src="~/css/images/blocked.jpg">
                        </a>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                    <div class="product-content">
                        <button asp-page-handler="AddRecord" class="title">Toevoegen</button>
                        <input asp-for="newrecord.title" class="form-control " placeholder="Naam" required>
                        <input asp-for="newrecord.artist" class="form-control " placeholder="Artist" required>
                        <input asp-for="newrecord.notes" class="form-control " placeholder="Beschrijving" required>
                        <input asp-for="newrecord.label" class="form-control " placeholder="Label" required>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                            LP
                        </label>&nbsp; &nbsp; &nbsp;
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue">
                            CD
                        </label>
                    </div>
                </div>
                </form>
            </div>

    @foreach (var LP in Model.records)
    {
          
          
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    
                    <a href="#">
                        @if (LP.artist == "Bob Marley")
                           {
                               <img class="pic-1" src="~/css/images/bobM.jpg">
                               <img class="pic-2" src="~/css/images/bobM.jpg">
                           }
                           else if (LP.artist == "David Bowie")
                           {
                               <img class="pic-1" src="~/css/images/Heroes.jpg">
                               <img class="pic-2" src="~/css/images/Heroes.jpg">
                           }
                           else if (LP.artist == "Elton John")
                           {
                               <img class="pic-1" src="~/css/images/yoursong.jpg">
                               <img class="pic-2" src="~/css/images/yoursong.jpg">
                           }
                           else if (LP.artist == "Queen")
                           {
                               <img class="pic-1" src="~/css/images/innuendo.jpg">
                               <img class="pic-2" src="~/css/images/innuendo.jpg">
                           }
                           else if (LP.artist == "Micheal Jackson")
                           {
                               <img class="pic-1" src="~/css/images/LP/thriller.jpg">
                               <img class="pic-2" src="~/css/images/LP/thriller.jpg">
                           }
                           else if (LP.artist == "The Beatles")
                           {
                               <img class="pic-1" src="~/css/images/LP/abbeyroad.jpeg">
                               <img class="pic-2" src="~/css/images/LP/abbeyroad.jpeg">
                           }
                           else if (LP.artist == "AC DC")
                           {
                               <img class="pic-1" src="~/css/images/LP/backinblack.jpg">
                               <img class="pic-2" src="~/css/images/LP/backinblack.jpg">
                           }
                           else if (LP.artist == "Bruce Springsteen")
                           {
                               <img class="pic-1" src="~/css/images/LP/bornintheusa.jpg">
                               <img class="pic-2" src="~/css/images/LP/bornintheusa.jpg">
                           }
                           else if (LP.artist == "Gorillaz")
                           {
                               <img class="pic-1" src="~/css/images/LP/demondaysgorrilaz.jpg">
                               <img class="pic-2" src="~/css/images/LP/demondaysgorrilaz.jpg">
                           }
                           else if (LP.artist == "Led Zeppelin")
                           {
                               <img class="pic-1" src="~/css/images/LP/housesoftheholy.jpg">
                               <img class="pic-2" src="~/css/images/LP/housesoftheholy.jpg">
                           }
                           else if (LP.artist == "NSA")
                           {
                               <img class="pic-1" src="~/css/images/LP/illmaticnas.jpg">
                               <img class="pic-2" src="~/css/images/LP/illmaticnas.jpg">
                           }
                           else if (LP.artist == "Fleetwood Mac")
                           {
                               <img class="pic-1" src="~/css/images/LP/rumours.jpg">
                               <img class="pic-2" src="~/css/images/LP/rumours.jpg">
                           }
                           else if (LP.artist == "The Rolling Stones")
                           {
                               <img class="pic-1" src="~/css/images/LP/stickyfingers.jpg">
                               <img class="pic-2" src="~/css/images/LP/stickyfingers.jpg">
                           }
                           else if (LP.artist == "Pink Floyd")
                           {
                               <img class="pic-1" src="~/css/images/LP/thewall.jpg">
                               <img class="pic-2" src="~/css/images/LP/thewall.jpg">
                           }
                           else
                           {
                               <img class="pic-1" src="~/css/images/blocked.jpg">
                               <img class="pic-2" src="~/css/images/blocked.jpg">
                           }
                    </a>



                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">@LP.title</a></h3>
                    <div class="price">@LP.artist
                        <span></span>
                    </div>
                    <a class="add-to-cart" href="">Verkopen</a>
                </div>
            </div>
        </div>
        
    }
        </div>
    </div>
    <hr>






    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script src="~/bootstrap-4.4.1-dist/js/bootstrap.js"></script>
</body>

