@page
@model RMS_web_dev_poging3.Pages.Paginas.Verkopen

@{
  Layout = null;
}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Index</title>
<link rel="stylesheet" href="~/bootstrap-4.4.1-dist/css/bootstrap.css" />
<link href="~/css/style.css" rel="stylesheet" />
<script src="~/js/jquery-3.5.1.slim.js"></script>

<body style="overflow-x: hidden;">


      <header class="masthead">
        <img src="~/css/images/logo3.jpg" class="logoimg" style="background-color: transparent;">
        <button class="btn disabled accauntimg button" onclick="location.href='Winkelmandje'"><img src="~/css/images/shopping-cart.jpg"></button>
        <div class="accauntimg">
        <div class="dropdown open">
          <button class="btn dropdown-toggle button" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" 
              aria-expanded="false">
                <img src="~/css/images/accaunt.jpg" >
              </button>
          <div class="dropdown-menu" aria-labelledby="triggerId">
            <button class="dropdown-item" onclick="location.href='Kopen'">Kopen</button>
            <button class="dropdown-item" onclick="location.href='MyCollection'">Mijn Collectie</button>
          </div>
        </div>
      </div>

      </header>


      <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item active">
                        <a class="nav-link" asp-page="/Paginas/MyCollection">Home</a>
                    </li>
                      <li class="nav-item active">
                      <a class="nav-link" asp-page="/Paginas/Kopen">Kopen</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" asp-page="/Paginas/Verkopen">Verkopen</a>          
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" asp-page="/Paginas/Uitloggen">Uitloggen</a>          
                      </li>
        </ul>
      </nav>


<div>

  
  
        <div class="container login">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                    <form method="post">
                      <select name="records" class="form-control">
                        @foreach (var record in Model.verkoopcollectie)
                        {
                          <option value=@record.record_id>@record.title</option>
                        }
                      </select>
                      <p></p>
                      <button type="submit" asp-page-handler="View" class="btn btn-lg btn-success btn-block">Bekijk informatie</button>
                    </form>
                  <p></p>
                  <form method="post">
                    <input type="text" asp-for="verkooprecord.notes" placeholder="Description" class="form-control">
                    <p></p>
                    <input type="text" asp-for="verkooprecord.price" placeholder="Price" class="form-control">
                    <p></p>
                    <button asp-page-handler="Submit" class="btn btn-lg btn-success btn-block">Submit</button>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div>
  
</div>

    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script src="~/bootstrap-4.4.1-dist/js/bootstrap.js"></script>
</body>

